.item-list {
  height: 100vh;

  .header {
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .header-benner {
      height: 310px;
      position: relative;
      width: 100%;
      object-fit: cover;
    }
  }

  .line-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

    .left-spoon {
      width: 36px;
      height: 11px;
      background: url(http://www.baskinrobbins.co.kr/assets/images/common/icon_title_1.png);
    }

    img {
      margin: 0 20px;
    }

    .right-spoon {
      width: 36px;
      height: 11px;
      background: url(http://www.baskinrobbins.co.kr/assets/images/common/icon_title_2.png);
    }
  }

  .list {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
  }
}
