.product-info {
  padding: 49px 0 45px 0;
  border-bottom: 1px solid #dadada;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
  .proudct-wrap {
    display: flex;
  }
  .text {
    color: #948780;
    font-weight: normal;
    display: inline-block;
    min-width: 38px;
    margin-right: 20px;
  }
  .option {
    width: 460px;
  }
  .link-store {
    cursor: pointer;
  }
}
