.view-flavor,
.consist,
.list-flavor {
  height: auto;
  overflow: auto;
}
.view-flavor {
  overflow: hidden;
  h2 {
    font-size: 17px;
    width: 900px;
    color: #2f231c;
    text-align: center;
    font-weight: normal;
    margin-bottom: 15px;
  }
  .list-flavor {
    margin-bottom: 27px;
    text-align: center;
  }
  .list-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    border: none;
    .list {
      display: flex;
      justify-content: center;
      padding-top: 20px;
      width: 179px;
      height: 179px;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      background: url(https://www.baskinrobbins.co.kr/assets/images/menu/img_con.png)
        50% 120px no-repeat;
      background-size: 35px auto;
      border: 1px solid #e3e7e7;
      .title {
        color: #94927b;
        font-size: 13px;
      }
      img {
        width: 112px;
        position: absolute;
        left: 50%;
        margin-left: -56px;
        top: 57px;
      }
    }
  }
}
.view-coffee {
  .hot,
  .ice {
    text-align: center;
    margin-top: 65px;
    .hot-img,
    .ice-img {
      margin-bottom: 20px;
    }
    .coffee-list {
      overflow: hidden;
      position: relative;
      min-width: 900px;
      height: 200px;
      .list-wrap {
        width: 1435px;
        position: absolute;
        left: 0px;
        ul {
          display: flex;
          li {
            margin-right: 3px;
          }
        }
      }
    }
  }
}
