@import "Styles/common";

.marker-modal-wrapper {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1002342343243242343232400; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    //background-color: rgb(0,0,0); /* Fallback color */
    background-color:#000; /* Black w/ opacity */
    // animation-name: animateopacity;

    opacity: .5;

    @keyframes animateopacity {
        from {opacity: 0;}
        to {opacity: .5;}
    }
}

.container {
    margin-top: 70px;
    width: 747px;
    position: fixed; /* Stay in place */
    z-index: 10023423432432423432324001; /* Sit on top */
    top: 0;
    display: none;
    right: 30%;
    animation-name: animatetop;
    animation-duration: 0.5s;

      /* Add Animation */
  @keyframes animatetop {
    from {top: -100px;}
    to {top: -0px;}
    }

    .content {
        border-radius: 5px;
        .header {
            width: 100%;
            height: 91px;
            background-color: $br-color;
            padding-left: 35px;
            display: flex;
            h3 {
                width: 100%;
                height: 100%;
                font-size: 25px;
                font-weight: bold;
                color: #fff;
                line-height: 89px;
            }
        }
        .body {
            display: flex;
            width: 100%;
            height: 295px;
            background-color: #ffffff;
            padding: 30px;
            .img {
                width: 311px;
                img {
                    border: 1px solid #e0d6d1;
                }
            }
            .info {
                width: 376px;
                .info-inner-wrapper {
                    display: flex;
                    dt {
                        width: 90px;
                        padding: 0 0 10px 9px;
                        font-size: 12px;
                        font-weight: bold;
                        color: #a79c8e;
                        background: url(/assets/images/store/bu_store_list.png) 0 6px no-repeat;
                    }
                    dd {
                        width: 100%;
                        color: #2f231c;
                        padding-bottom: 10px;
                        font-size: 13px;
                    }
                }

                .info-service-wrapper{
                    display: flex;
                    
                    dt {
                        width: 86px;
                        height: 28px;
                        margin-top: 6px;
                        padding: 0 0 10px 9px;
                        font-size: 12px;
                        font-weight: bold;
                        color: #a79c8e;
                        background: url(/assets/images/store/bu_store_list.png) 0 6px no-repeat;
                    }
                    .bris-list {
                        width: 100%;
                        color: #a79c8e;
                        padding-bottom: 10px;
                        font-size: 11px;
                        
                       ul {
                        display: flex;
                        margin-left: -10px;
                        li {
                            padding: 0 10px;

                            .C {
                                display: block;
                                padding-left: 31px;
                                height: 33px;
                                background-position: left top 5px ;
                                background-repeat: no-repeat;
                                line-height: 32px;
                                background-image: url(https://www.baskinrobbins.co.kr/assets/images/store/ico_cafebris_breeze.png)
                            }

                            .E {
                                display: block;
                                padding-left: 31px;
                                height: 33px;
                                background-position: left top 1px ;
                                background-repeat: no-repeat;
                                line-height: 32px;
                                background-image: url(https://www.baskinrobbins.co.kr/assets/images/store/ico_cafebris_sunny.png)
                            }
                            
                        }
                       }
                    }


                    .service-list {
                        width: 100%;
                        color: #a79c8e;
                        padding-bottom: 10px;
                        font-size: 11px;
                        
                       ul {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: -10px;
                        width: 310px;
                        height: 99px;
                        li {
                            padding: 0 10px;

                            .C {
                                display: block;
                                padding-left: 26px;
                                height: 33px;
                                width: 121px;
                                background-position: left top 5px ;
                                background-repeat: no-repeat;
                                line-height: 32px;
                                background-image: url(https://www.baskinrobbins.co.kr/assets/images/store/ico_happypoint.png)
                            }

                            .D {
                                display: block;
                                padding-left: 28px;
                                height: 33px;
                                width: 94px;
                                background-position: left top 5px ;
                                background-repeat: no-repeat;
                                line-height: 32px;
                                background-image: url(https://www.baskinrobbins.co.kr/assets/images/store/ico_happyorder.png)
                            }

                            .A {
                                display: block;
                                padding-left: 38px;
                                height: 33px;
                                width: 123px;
                                background-position: left top 5px;
                                background-repeat: no-repeat;
                                line-height: 32px;
                                background-image: url(https://www.baskinrobbins.co.kr/assets/images/store/ico_delivery.png)
                            }

                            .E {
                                display: block;
                                padding-left: 28px;
                                height: 33px;
                                width: 85px;
                                background-position: left top 5px ;
                                background-repeat: no-repeat;
                                line-height: 32px;
                                background-image: url(https://www.baskinrobbins.co.kr/assets/images/store/ico_baemin.png)
                            }

                            .F {
                                width: 75px;
                                display: block;
                                padding-left: 38px;
                                height: 33px;
                                background-position: left top 5px ;
                                background-repeat: no-repeat;
                                line-height: 32px;
                                background-image: url(https://www.baskinrobbins.co.kr/assets/images/store/ico_yogiyo.png)
                            }
                        }
                       }
                        
                    }
                }
                
            }
        }
    }
    
    .close {
        position: fixed;
        top: 80px;
        right: 23%;
    }
}
.wrap {
    height: 239px;
    background-color: #f8f8f8;
    padding: 27px 0 20px 0;

   ul {
       display: flex;
        width: 690px;
        margin: 0 auto;

       li {
           width: 134px;
           height: 176px;
           margin: 0 4px;
            dd {
                text-align: center;
                font-size: 11px;
                color: #665a4c;
            }
       }
        
    }
    
    
}

.on {
    display: flex;
    justify-content: center;
}
