.Login {
  .left-login {
    width: 458px;
    border-right: 1px solid #e1e3e5;

    .left-txt {
      padding-bottom: 20px;
      font-size: 17px;
      p {
        color: #ff7c98;
        font-size: 18px;
        font-weight: 300;
        padding-top: 5px;
      }
    }

    .login-box {
      width: 458px;
      height: 107px;
      margin-bottom: 9px;
      display: flex;
      justify-content: space-between;

      .login-input {
        display: flex;
        flex-direction: column;

        input {
          width: 260px;
          height: 45px;
          padding: 17px 15px;
          color: #696663;
          font-size: 15px;
          background: #efefef;
          border: none;
          margin-bottom: 10px;
        }
      }

      .login-btn {
        width: 118px;
        height: 118px;
        border: none;

        border-radius: 50%;
        background: #f56f98;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        .btn {
          color: white;
          font-size: 15px;
          background: #f56f98;
          border-style: none;
          &:focus {
            outline: none;
          }
        }
      }
    }

    .left-bottom {
      width: 456px;
      height: 19px;
      margin-top: 30px;

      .bottom-link {
        padding-right: 31px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        color: #2f231c;
      }

      .sign-up {
        cursor: pointer;
      }
    }
  }
}
