.flavor-nav {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  .move-bar {
    list-style: none;
    position: fixed;
    right: 50px;
    z-index: 50;
    top: 480px;
    text-align: right;
    transition: all 1s ease 1s;
  }
}
