.category-list {
    list-style: none;
    text-align: center;
    padding-bottom: 12px;
    color: #948780;
    opacity: 0;

    li {
        text-align: center;
        padding-bottom: 12px;
    }
    li:first-child {
        padding-top: 40px;
    }
}

.monthly-icecream {
    opacity: 0;
}

.monthly-icecream-on {
    animation-name: fadeInn;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    
    @keyframes fadeInn {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}
.monthly-icecream-off {
    display: none;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 0.3s;

    @keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
    }
}

.category-list-on {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
    }
}


.category-list-off {
    animation-name: fadeOut;
    animation-duration: 0.3s;
    display: none;
    
    @keyframes fadeOut {
        0%   { opacity: 1; }
        50%  { opacity: 0.5; }
        100% { opacity: 0;}
    }
}